<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Authors</title>

    <style>
        body {
            font-family: sans-serif;
            margin: 0;
        }

        h1 {
            text-align: center;
            font-size: 2rem;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: black;
        }

        a:hover {
            color: blue;
        }
    </style>
</head>
<body>

<h1>All Authors</h1>

<ul>
    {% for author in authors %}
        <li><a href="{% url 'author_detail' author.id %}">{{ author.first_name }} {{ author.last_name }}</a></li>
    {% endfor %}
</ul>

</body>
</html>
